@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
.nav_menu{
    box-shadow: 0 0 20px 0px #00000029;
    border-radius: 5px;
    margin-top: 10px;
    width: 210px;
    padding: 10px;
}
.nav_menu:hover{
    background: rgba(128, 128, 128, 0.13);
    transition: .5s;
}
div{
    margin-top: 10px;
}
a{
    color: slategray;;
  }
  .btn_link{
        padding: 5px;
        border-radius: 5px;
        margin-top: 5px;
        transition: .2s;
        cursor: pointer;
        margin: 0px 2px;
        background: whitesmoke;
  }
  .btn_link:hover{
    background: #E0E0E0;
  }
.news__tab-text:hover{
    color: red;
    transition: 0.3s;
}
.news__tab-text{
    color: royalblue;
    width: 200px;
}
h1{
    width: 230px;
}
a:hover{
    color: red;
    transition: 0.3s;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 3px solid #fc0;
    float: left;
    width: 50%;
    background: #ffffff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    justify-content: center;
    display: flex;
  }
  input:focus{
    outline: none;
  }
  
  form.example button {
    float: left;
    width: 75px;
    padding: 10px;
    background: #fc0;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border: 3px solid #fc0;
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }
  form.example button:hover {
    background: #fc0;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }  